body {
    margin: 30px;
    background-color: green;
}

.centered{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#card {
  margin: auto;
  width: 250px;
  height: 375px;
  border-radius: 10px;
  background: #fff;
  
}

#uper_symbol{
    padding: 0 10px;
    font-size: 70px;

}

#card_number {
    font-family: serif;
    text-align: center;
    font-size: 300%;
    margin: 80px 0;

}

#lower_symbol{
    padding: 0 10px;
    font-size: 70px;
    transform: rotate(180deg);
}

#buttonFrame{
    text-align: center;
    padding: 30px;

}

.button {
  display: inline-block;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}